<div class="letdoo-theme">


<div class="panel-slide off">


<div class="slideLeft">

<div class="fixed">
	<h2>coucoi</h2>
<p>couccouccoucccouccouccoucuc</p>
</div>
</div>

<div class="panel">


<nav class="LDJ-menu left fixed">
	<div class="container"><div class="logo">LetDooJS</div>
	<nav class="nav">
			<ul><li class="dropdown">Accueil
			<ul>

					<li class="label">Accueil</li>
					<li>	<a href="">Sous menu 1</a></li>
					<li>Sous menu 2</li>
			</ul>

			</li><li>test</li><li>test</li><li><a href="">fin</a></li></ul>

	</nav>
</div>
</nav>

	<header class="LDJ-header verticalCenter">
	<div class="container">
		<div class="title">test</div>
		<div class="large text center">test test </div>
	</div>
</header>

<section class="">

	<div class="container bg">
		<h2>Coucou</h2>
	</div>
</section>
<section class="grey">

	<div class="container panel-slide">

		<div class="slideLeft">

		<h2>coucoi</h2>
		<p>couccuccouc</p>
		</div>

<div class="panel">
		<h2>Coucou</h2>


		<div class="row-fluid">


			<div class="col twelve">OKOK</div>


		</div>
		</div>

	</div>
</section>

<section >
	<div class="container">
		<h2>Coucou</h2>
	</div>
</section>
<section class="grey">
	<div class="container">
		<h2>Coucou</h2>
	</div>
</section>

<footer class="LDJ-footer"> footer</footer>



</div>
</div></div>